/* .container {
    display: flex;
    margin: auto;
    width: 94%;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: flex-end;
}

.container input {
    border-radius: 10px;
    height: 25px;
    width: 250px;
    margin-right: 10px;

}

.container button {
    border-radius: 10px;
    height: 25px;
    background-color: darkblue;
    color: white;
    width: 100px;
} */